/* $font-family: "Raleway-Light" */

@font-face {
  font-family: "Raleway-Light";
  src: url(../font/Raleway-Light.ttf);
}

@font-face {
  font-family: "Raleway-Medium";
  src: url(../font/Raleway-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway-Light";
  background-image: url(../img/pexels-brand-&-palms-768975.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  width: 100vw;
  background-color: rgba(21,21,21,0.3);
  padding: 1rem 1.5rem;
  text-align: center;
}

h1 {
  color: darkslateblue;
}

form, div, select {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  margin: 0.5rem 5rem;
}

input[type="text"] {
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: rgba(249, 249, 249, 0.3);
  border: none;
  border-radius: 0.3rem;
}

select, button {
  width: max-content;
  background-color: rgba(49, 49, 49, 0.9);
  color: white;
  border: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 0.3rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main div {
  width: min-content;
  padding: 1rem;
  margin: 0.5rem;
  background-color: rgba(233,233,233,0.5);
  border: 1px solid rgba(49,49,49,0.15);
  border-radius: 0.3rem;
}

main div:hover {
  transform: scale(1.0);
}

img {
  max-width: 30%;
}

h3 {
  font-size: 0.9rem;
}

p {
  font-family: "Raleway-Medium";
  font-size: 1.5rem;
  font-weight: bolder;
  color: darkslateblue;
}

main button {
  background-color: rgba(72,61,139,0.9);
  color: white;
  padding: 0.5rem 1rem;
}

